* {
    box-sizing: border-box;
    margin: 8px 0;
    cursor:crosshair
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #555; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 49, 49); 
  }

body {
    height: 100vh;
    -webkit-text-size-adjust: 100%;
    font-family: 'Poiret One', cursive;
    background-color: #cbbcb1;
}

#wrapper {
    height: 100%;
    width: 100%;
    background-image: url("/pic/linesyolight.png");
    background-repeat: no-repeat;
    background-position:bottom 10rem left 14rem;
    display:flex;
    flex-direction: column;
}

.darkmode {
    margin: 0 2rem;
    padding: 0;
    /* text-align: end; */
    font-size: 2rem;
    color:#f7f7f7;
    text-decoration: none;
    position: absolute;
    right: 2rem;
}

.darkmode:visited {
    color:#292929;
}

.darkmode:visited {
    color:#f7f7f7;
}

.darkmode:hover {
    color:rgb(122, 124, 20);
}


.language {
    margin: 0.6rem 2rem;
    padding: 0;
    /* text-align: end; */
    font-size: 1.5rem;
    color:#f7f7f7;
    text-decoration: none;
    position: absolute;
    right: 5rem;
}

.language:visited {
    color:#f7f7f7;
}

.language:hover {
    color:rgb(122, 124, 20);
}

.logo {
    background-image: url("/pic/logo2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
    margin-left: 2rem;
    position: fixed;
}

.logo:hover::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid #cc5623;
    width: 8rem;
    transform: translateY(5rem); 
}

.logo:hover::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #cc5623;
    width: 4rem;
    transform: translateY(5rem);
    transition: all 1s ease-out;
}


.logo:before {
    display: inline-block;
    content: "";
    border-top: .3rem solid #8583eb;
    width: 8rem;
    transform: translateY(5rem);
    transition: all 1s ease-out;
    pointer-events: none;
}

  
.logo:after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #8583eb;
    width: 4rem;
    transform: translateY(5rem);
    transition: all 1s ease-out;
    pointer-events: none;
}

.about, .knowledge {
    margin-top: 20vh;
    display: flex;
}

.knowledge {
    height: 100vh;
}

section {    
    margin-left: 30vh;
    color: rgb(20, 20, 20);
    flex:1;
}

.portrait {
    background-image: url("/pic/lollight.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 80%;
    height: 500px;
    width: 500px;
    margin: 0;
    flex:2;
}

h2 {
    color: #8583eb;
}

h2::before {
    display: inline-block;
    content: "";
    border-top: .3rem solid #8583eb;
    width: 1rem;
    margin-right: 5rem;
    transform: translateY(-0.5rem);
}
h2::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #8583eb;
    width: 3rem;
    margin-left: -8rem;
    transform: translateY(-0.5rem);
}

.h2swe::after {
    margin-left: -9rem;
}


h1 {
    font-size: 2.8rem;
    letter-spacing: 6px;
    
}
p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    margin-top: 3rem;
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    color: #757575;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;    
    background: linear-gradient(to right, #8583eb 50%, #dfd5ce 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .5s ease-out;
  }
  
button:hover {
    background-position: left bottom;
    color: #f7f7f7;
}

.knowledge, .experience {
    padding: 20% 0;
}

.knowledge, .experience {
    padding-top: 4rem;
    background-color: #dfd5ce;
    background-image: url('/pic/linesyo2light.png');
    background-repeat: no-repeat;
    background-position:bottom 10rem left 14rem;
}

.chart-knowledge {
    background-image: url("/pic/oof.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 80%;
    height: 400px;
    width: 400px;
    margin: 0;
    flex:2;
}

.knowledge h2::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #8583eb;
    width: 3rem;
    margin-left: -8rem;
    transform: translateY(-0.5rem);
}

.knowledge-swe h2::after {
    margin-left: -8.5rem;
}

ul {
    list-style-type: none;
    margin-top: 1rem;
    font-weight: 700;
}

.portfolio {
    padding: 4rem 0;
    width: 100%;
    padding-top: 4rem;
    background-image: url('/pic/linesyo2light.png'), url('/pic/linesyo2light.png');
    background-repeat: no-repeat;
    background-position:top 8rem right 14rem, bottom 8rem left 14rem;
}

.portfolio h1 {
    padding-bottom: 3rem;
}

.portfolio h2::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #8583eb;
    width: 3rem;
    margin-left: -9rem;
    transform: translateY(-0.5rem);
}

.portfolio-stuff {
    display:flex;
    margin: 0 auto;
    width: 100%;
}

.row-one, .row-two {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 2rem;
}

.row-one {
    row-gap: 150px;
}

.row-two {
    row-gap: 150px;
    margin-top: 350px;
}

.portfolio article {
    height: 350px;
    width: 350px;
    border: 2px solid #8583eb;
    opacity: 70%;
    transition: 0.5s ease-out;
}

.row-one article:hover {
    transition: 0.5s ease-out;
    height: 400px;
    width: 400px;
    box-shadow: 1px 1px 21px #8583eb;
    opacity: 100%;
}

.row-two article:hover {
    transition: 0.5s ease-out;
    height: 400px;
    width: 400px;
    box-shadow: 1px 1px 21px #8583eb;
    opacity: 100%;
    margin-left: -3rem;
}

.ada {
    height: 100%;
    width: 100%;
    background-image: url("/pic/ada.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.folkuniversitetet {
    height: 100%;
    width: 100%;
    background-image: url("/pic/FU.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.soon {
    height: 100%;
    width: 100%;
    background-image: url("/pic/soon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio article p {
    padding: 0.6rem;
}

mark {
    background: rgba(192, 183, 183, 0.7);
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 0.2rem 1rem;
}

.experience h2::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #8583eb;
    width: 3rem;
    margin-left: -10.5rem;
    transform: translateY(-0.5rem);
}

.exp {
    display: flex;
    padding-top: 4rem;
    width: 100%;
}

.exp section {
    margin: 0
}

.exp h3 {
    padding-top: 2rem;
}

.exp p {
    padding-top: 1rem;
}

.school, .work {
    flex:1;
}

.book {
    flex:2;
}

.study {
    background-image: url("/pic/study.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 120%;
}


.contact h2::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #8583eb;
    width: 3rem;
    margin-left: -9rem;
    transform: translateY(-0.5rem);
}

.contact {
    width: 100%;
    background-image: url("/pic/nicelight.png");
    background-repeat: no-repeat;
    background-position:top right 10rem;
    padding: 4rem 0 0 0;
}

.input-boxes {
    font-weight: 700;
    padding-top: 3rem;
    padding-left: 22%;
}

.input-boxes p {
    margin-bottom: 2px;
}

input, textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:block;
    width: 600px;
    height: 40px;
    background: none;
    border: 0.5px solid #8583eb;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #292929;
    padding-left: 1rem;
    margin-top: 0;
    resize: none;
}
.input-boxes {
    font-weight: 700;
    padding-top: 3rem;
    margin: 0 auto;
}


.message {
  height: 300px;
}

input:focus, textarea:focus {    
    background: #f7f7f7;
    color: #000;
    border: none;
    padding-left: 1rem;
}

/* .btn-send {
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    color: #f7f7f7;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;    
    background: linear-gradient(to right, rgb(122, 124, 20) 50%, rgb(32, 42, 49) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  
  .btn-send:hover {
    background-position: left bottom;
} */

.sword {
    margin: 0 auto;
}

footer {
    text-align: center;
    margin: 3rem;
}

footer p {
    padding-bottom: 1rem;
    color: #292929;
    font-size: 1rem;
}


